%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading Case study example
    %p.lead.text-muted Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
    %p
      %a.btn.btn-primary{:href => "#"} Main call to action
      %a.btn.btn-secondary{:href => "#"} Secondary action
.album.text-muted
  .container
    .row
      %a.card(href="/case-study-1.html")
        %img(src="/images/best_practices.jpg" style="height: 280px; width: 100%; display: block;")
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %a.card(href="/case-study-2.html")
        %img(src="/images/help_articles.jpg" style="height: 280px; width: 100%; display: block;")
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %a.card(href="/case-study-3.html")
        %img(src="/images/instructor_guide.jpg" style="height: 280px; width: 100%; display: block;")
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %a.card(href="/case-study-4.html")
        %img(src="/images/presenter_guide.jpg" style="height: 280px; width: 100%; display: block;")
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %a.card(href="/case-study-5.html")
        %img(src="/images/professional_support.jpg" style="height: 280px; width: 100%; display: block;")
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      %a.card(href="/case-study-6.html")
        %img(src="/images/webinars.jpg" style="height: 280px; width: 100%; display: block;")
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
